# deploy
APP_DEPLOY_HOST="user@deploy-server.local"
APP_DEPLOY_PORT=8222
APP_DEPLOY_SSH_KEY="~/.ssh/key"

APP_BUILD_HOST="user@build-server.local"
APP_BUILD_PORT=8222
APP_BUILD_SSH_KEY="~/.ssh/key"

APP_SERVER_MODE=true

# mail secrets
APP_MAIL_SERVER="imap.mail.com"
APP_MAIL_LOGIN="user@mail.com"
APP_MAIL_PASSWD="mail-passwd"
APP_MAIL_FROM="mail@mail.com"
APP_MAIL_ALTERNATE="mail-alternate@mail.com"

#site secrets
APP_SITE_URL="http://www.site.ru"
APP_SITE_USERNAME="user"
APP_SITE_PASSWD="passwd"

# telegram bot secrets
APP_TELEGRAM_BOT_OWNER_ID=8022
APP_TELEGRAM_BOT_TOKEN="telegram-bot-token"
