# apiai==1.2.3
beautifulsoup4~=4.12
EasyProcess~=1.1
Fabric3==1.14.post1
html2text==2020.1.16
mammoth~=1.6
Pillow~=10.1
python-dateutil~=2.8
python-magic~=0.4.27
python-telegram-bot==12.8
PyVirtualDisplay~=3.0
razdel~=0.5
requests~=2.31
selenium~=4.14
