[Unit]
Description=Lexa Telegram Bot service
After=multi-user.target

[Service]
WorkingDirectory=/var/www/autopublisher
ExecStart=/var/pyvenvs/autopublisher/bin/python3 /var/www/autopublisher/telegrambot.py
Type=notify
NotifyAccess=all
KillSignal=SIGQUIT

[Install]
WantedBy=multi-user.target
